{{> layout/header}}

<section>
    <!-- component -->
    <div class="flex flex-col items-center justify-center min-h-screen p-8 space-y-8 z-10">
        {{#jobSeekerList}}
        <div class="relative z-10 bg-white p-6 rounded-xl shadow-lg w-full max-w-2xl cursor-pointer">
            <div class="flex flex-col space-y-4">
                <div class="flex justify-between items-center text-sm text-gray-500">
                    <div class="flex items-center space-x-4">
                        <p>{{time}}</p>
                    </div>
                    <div class="bg-gray-600 text-white text-xs font-bold px-3 py-1 rounded-md">
                        IT 정보
                    </div>
                </div>

                <div class="pt-2">
                    <h2 class="text-2xl font-bold text-gray-800 hover:text-gray-600 transition-colors">
                        <a href="/job-seeker-detail/{{id}}">{{title}}</a>
                    </h2>
                    <p class="mt-2 text-gray-600 leading-relaxed">
                        {{content}}
                    </p>
                </div>
                <div class="flex justify-between items-center pt-4 border-t border-gray-200">
                    <div class="flex items-center space-x-5">
                        <button onclick="likePost(this)"class="interest flex items-center text-gray-500 hover:text-pink-500 transition-colors">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z" clip-rule="evenodd" />
                            </svg>
                            <span class="interest--count ml-1 text-sm font-semibold">{{interestCount}}</span>
                        </button>
                        <div class="flex items-center text-gray-500 hover:text-blue-500 transition-colors">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z" />
                            </svg>
                            <span class="ml-1 text-sm font-semibold">0</span>
                        </div>
                    </div>
                    <div class="flex items-center space-x-3">
                        <img src="https://images.pexels.com/photos/4381392/pexels-photo-4381392.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="profile image" class="h-8 w-8 rounded-full object-cover" />
                        <span class="text-sm font-semibold text-gray-800">{{user.username}}</span>
                    </div>
                </div>
            </div>
        </div>
        {{/jobSeekerList}}
    </div>
</section>
<section>
    <div class="flex items-center justify-center border-t border-gray-200 bg-white px-4 py-3 sm:px-6">
        <div class="hidden sm:flex sm:flex-1 sm:items-center sm:justify-center">
            <div>
                <nav class="isolate inline-flex -space-x-px rounded-md shadow-xs" aria-label="Pagination">
                    <a href="#" class="relative inline-flex items-center rounded-l-md px-2 py-2 text-gray-400 ring-1 ring-gray-300 ring-inset hover:bg-gray-50 focus:z-20 focus:outline-offset-0">
                        <span class="sr-only">Previous</span>
                        <svg class="size-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                            <path fill-rule="evenodd" d="M11.78 5.22a.75.75 0 0 1 0 1.06L8.06 10l3.72 3.72a.75.75 0 1 1-1.06 1.06l-4.25-4.25a.75.75 0 0 1 0-1.06l4.25-4.25a.75.75 0 0 1 1.06 0Z" clip-rule="evenodd" />
                        </svg>
                    </a>
                    <!-- Current: "z-10 bg-indigo-600 text-white focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600", Default: "text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:outline-offset-0" -->
                    <a href="#" aria-current="page" class="relative z-10 inline-flex items-center bg-indigo-600 px-4 py-2 text-sm font-semibold text-white focus:z-20 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">1</a>
                    <a href="#" class="relative inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-900 ring-1 ring-gray-300 ring-inset hover:bg-gray-50 focus:z-20 focus:outline-offset-0">2</a>
                    <a href="#" class="relative hidden items-center px-4 py-2 text-sm font-semibold text-gray-900 ring-1 ring-gray-300 ring-inset hover:bg-gray-50 focus:z-20 focus:outline-offset-0 md:inline-flex">3</a>
                    <span class="relative inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-700 ring-1 ring-gray-300 ring-inset focus:outline-offset-0">...</span>
                    <a href="#" class="relative hidden items-center px-4 py-2 text-sm font-semibold text-gray-900 ring-1 ring-gray-300 ring-inset hover:bg-gray-50 focus:z-20 focus:outline-offset-0 md:inline-flex">8</a>
                    <a href="#" class="relative inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-900 ring-1 ring-gray-300 ring-inset hover:bg-gray-50 focus:z-20 focus:outline-offset-0">9</a>
                    <a href="#" class="relative inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-900 ring-1 ring-gray-300 ring-inset hover:bg-gray-50 focus:z-20 focus:outline-offset-0">10</a>
                    <a href="#" class="relative inline-flex items-center rounded-r-md px-2 py-2 text-gray-400 ring-1 ring-gray-300 ring-inset hover:bg-gray-50 focus:z-20 focus:outline-offset-0">
                        <span class="sr-only">Next</span>
                        <svg class="size-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                            <path fill-rule="evenodd" d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                        </svg>
                    </a>
                </nav>
            </div>
        </div>
    </div>
</section>
<script>
    function likePost(selectedPost) {
        const boardId = selectedPost.dataset.boardId;
        const liked = selectedPost.dataset.liked === 'true';

        try {
            const response = await fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                }
            });

            if (!response.ok) {
                throw new Error('서버 통신 실패')
            }

            const responseData = await response.json();

            const likeCountSpan = button.nextElementSibling;
            likeCountSpan.textContent = responseData.likeCount;

            // 2. 버튼 상태 업데이트 (좋아요 <-> 좋아요 취소)
            button.dataset.liked = !isLiked;
            // 예: 하트 색상 변경을 위한 클래스 토글
            button.classList.toggle('active', !isLiked);

        } catch (error) {
            console.error('Error:', error);
            alert('좋아요 처리에 실패했습니다.');
        }

    }
</script>

{{> layout/footer}}