{{> layout/header}}

<div class="isolate bg-white px-6 py-24 sm:py-32 lg:px-8">
    <!-- 배경 효과 -->
    <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
        <div class="relative left-1/2 -z-10 aspect-[1155/678] w-[72.0625rem] max-w-none -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30"
             style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)">
        </div>
    </div>

    <!-- 제목 -->
    <div class="mx-auto max-w-2xl text-center">
        <h2 class="text-4xl font-semibold tracking-tight text-gray-900 sm:text-5xl">로그인</h2>
        <p class="mt-2 text-lg text-gray-600">로그인을 해주세요.</p>
    </div>

    <!-- 탭 선택 -->
    <div class="flex justify-center gap-6 mt-12">
        <input onclick="errMsgToggle()" type="radio" name="tab" id="userTab" class="hidden">
        <label for="userTab" class="cursor-pointer font-semibold text-gray-400">
            개인회원
        </label>

        <input onclick="errMsgToggle()" type="radio" name="tab" id="companyTab" class="hidden" checked>
        <label for="companyTab" class="cursor-pointer font-semibold text-indigo-600 border-b-2 border-indigo-600">
            기업회원
        </label>
    </div>

    <!-- 개인회원 로그인 폼 -->
    <form id="userForm" action="/user/login" method="POST" enctype="application/x-www-form-urlencoded" class="mx-auto mt-10 max-w-xl">
        <div class="grid grid-cols-1 gap-y-6">
            <div>
                <label for="username" class="block text-sm font-semibold text-gray-900">이름</label>
                <input type="text" name="username" id="username" autocomplete="username"
                       class="mt-2.5 block w-full rounded-md bg-white px-3.5 py-2 text-base text-gray-900 outline outline-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:outline-indigo-600" />
            </div>
            <div>
                <label for="password" class="block text-sm font-semibold text-gray-900">비밀번호</label>
                <input type="password" name="password" id="password" autocomplete="current-password"
                       class="mt-2.5 block w-full rounded-md bg-white px-3.5 py-2 text-base text-gray-900 outline outline-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:outline-indigo-600" />
            </div>
        </div>
        {{#errMsg}}
            <div class="errMsg user mt-4 rounded-md border-l-4 border-red-500 bg-red-50 p-3">
                <div class="flex items-center gap-x-3">
                    <svg class="h-5 w-5 text-red-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M8.485 2.495c.673-1.167 2.357-1.167 3.03 0l6.28 10.875c.673 1.167-.17 2.625-1.516 2.625H3.72c-1.347 0-2.189-1.458-1.515-2.625L8.485 2.495zM10 5a.75.75 0 01.75.75v3.5a.75.75 0 01-1.5 0v-3.5A.75.75 0 0110 5zm0 9a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd" />
                    </svg>
                    <p class="text-sm font-medium text-red-700">
                        {{errMsg}}
                    </p>
                </div>
            </div>
        {{/errMsg}}
        <div class="mt-10">
            <button onclick="document.querySelector('.errMsg').classList.remove('hidden')"  type="submit"
                    class="block w-full rounded-md bg-indigo-600 px-3.5 py-2.5 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                로그인
            </button>
        </div>
        <div class="mt-4 text-center">
            <p class="text-base text-gray-600">계정이 없으신가요?<a href="/user/signup-form" class="ml-2 text-indigo-600 underline">계정 가입하기</a></p>
        </div>
    </form>

    <!-- 기업회원 로그인 폼 -->
    <form id="companyForm" action="/company/login" method="POST" class="mx-auto mt-10 max-w-xl hidden">
        <div class="grid grid-cols-1 gap-y-6">
            <div>
                <label for="businessRegistrationNumber" class="block text-sm font-semibold text-gray-900">사업자 번호</label>
                <input type="text" name="businessRegistrationNumber" id="businessRegistrationNumber"
                       class="mt-2.5 block w-full rounded-md bg-white px-3.5 py-2 text-base text-gray-900 outline outline-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:outline-indigo-600" />
            </div>
            <div>
                <label for="bizpass" class="block text-sm font-semibold text-gray-900">비밀번호</label>
                <input type="password" name="password" id="bizpass"
                       class="mt-2.5 block w-full rounded-md bg-white px-3.5 py-2 text-base text-gray-900 outline outline-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:outline-indigo-600" />
            </div>
            {{#errMsg}}
                <div class="errMsg company mt-4 rounded-md border-l-4 border-red-500 bg-red-50 p-3">
                    <div class="flex items-center gap-x-3">
                        <svg class="h-5 w-5 text-red-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M8.485 2.495c.673-1.167 2.357-1.167 3.03 0l6.28 10.875c.673 1.167-.17 2.625-1.516 2.625H3.72c-1.347 0-2.189-1.458-1.515-2.625L8.485 2.495zM10 5a.75.75 0 01.75.75v3.5a.75.75 0 01-1.5 0v-3.5A.75.75 0 0110 5zm0 9a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd" />
                        </svg>
                        <p class="text-sm font-medium text-red-700">
                            {{errMsg}}
                        </p>
                    </div>
                </div>
            {{/errMsg}}
        </div>
        <div class="mt-10">
            <button onclick="document.querySelector('.errMsg').classList.remove('hidden')" type="submit"
                    class="block w-full rounded-md bg-indigo-600 px-3.5 py-2.5 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                기업 로그인
            </button>
        </div>
        <div class="mt-4 text-center">
            <p class="text-base text-gray-600">기업 계정이 없으신가요?<a href="/company/signup-form" class="ml-2 text-indigo-600 underline">회원가입</a></p>
        </div>
    </form>
</div>

<!-- 탭 전환 JavaScript -->
<script>
    const userTab = document.getElementById("userTab");
    const companyTab = document.getElementById("companyTab");
    const userForm = document.getElementById("userForm");
    const companyForm = document.getElementById("companyForm");

    const userLabel = document.querySelector("label[for='userTab']");
    const companyLabel = document.querySelector("label[for='companyTab']");

    userTab.addEventListener("click", () => {
      userForm.classList.remove("hidden");
      companyForm.classList.add("hidden");

      userLabel.classList.add("text-indigo-600", "border-b-2", "border-indigo-600");
      companyLabel.classList.remove("text-indigo-600", "border-b-2", "border-indigo-600");
      companyLabel.classList.add("text-gray-400");
    });

    companyTab.addEventListener("click", () => {
      companyForm.classList.remove("hidden");
      userForm.classList.add("hidden");

      companyLabel.classList.add("text-indigo-600", "border-b-2", "border-indigo-600");
      userLabel.classList.remove("text-indigo-600", "border-b-2", "border-indigo-600");
      userLabel.classList.add("text-gray-400");
    });

    function errMsgToggle() {
        document.querySelector('.errMsg.company').classList.add('hidden');
        document.querySelector('.errMsg.user').classList.add('hidden');
    }
</script>
</body>

{{> layout/footer}}

