{{> layout/header}}


{{#resumeList}}
    <main class="flex justify-center items-start mt-10 px-4">
        <article class="w-full max-w-4xl flex flex-col gap-4 border border-gray-300 shadow-md p-8 bg-white">
            <div class="flex items-center gap-x-4 text-sm">
                <time datetime="2025-05-16" class="text-gray-500">2025년 5월 16일</time>
            </div>


            <div class="group relative">
                <h3 class="text-2xl font-semibold text-gray-900 group-hover:text-gray-600">
                    <a href="#">
                        <span class="absolute inset-0"></span>
                        {{title}}
                    </a>
                </h3>
                <p class="mt-4 text-base text-gray-600">
                    {{portfolioUrl}}
                </p>
            </div>

            <div class="flex items-center gap-x-4 mt-6">
                <img src="https://images.unsplash.com/photo-1519244703995-f4e0f30006d5?..." alt="" class="w-12 h-12 rounded-full" />
                <div class="text-sm">
                    <p class="font-semibold text-gray-900">{{user.username}}</p>
                </div>
            </div>

            <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-5 gap-2 py-4 text-center">
  <span class="inline-block rounded-full bg-gray-200 px-4 py-1 text-sm text-gray-700 font-medium hover:bg-gray-100">
    CSS
  </span>
                <span class="inline-block rounded-full bg-gray-200 px-4 py-1 text-sm text-gray-700 font-medium hover:bg-gray-100">
    JAVA
  </span>
                <span class="inline-block rounded-full bg-gray-200 px-4 py-1 text-sm text-gray-700 font-medium hover:bg-gray-100">
    C++
  </span>
                <span class="inline-block rounded-full bg-gray-200 px-4 py-1 text-sm text-gray-700 font-medium hover:bg-gray-100">
    Python
  </span>
                <span class="inline-block rounded-full bg-gray-200 px-4 py-1 text-sm text-gray-700 font-medium hover:bg-gray-100">
    JScript
  </span>
            </div>

            <div class="text-lg text-gray-800 gap">
                <p>이메일 : {{user.email}}  </p>
                <p>주소 : {{user.address}}  </p>
                <p>자기소개 : {{selfIntroduction}}</p>
            </div>

        </article>
        <div class="flex direction-col mt-10 relative z-10">
            <form action="/user/{{id}}/resume-update" method= "get">
                <button type="submit"
                        class="block w-full rounded-md bg-indigo-600 px-3.5 py-2.5 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                    수정
                </button>
            </form>
            <form action="/resume-list/{{id}}/delete-form" method="post">
                <button type="submit"
                        class="block w-full rounded-md bg-indigo-600 px-3.5 py-2.5 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                    삭제
                </button>
            </form>
        </div>
    </main>
{{/resumeList}}


{{> layout/footer}}